.sidebar {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Roboto",sans-serif;
    background: transparent;
    width: 250px;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh - 55px);
    position: fixed;
    top: 55px;
    left: 0;
    z-index: 11;
    .menu {
        position: relative;
        overflow-y: auto;
        background: #30373e;
        .list {
            list-style: none;
            padding-left: 0;
            .header {
                background: #363e46;
                font-size: 12px;
                padding: 8px 16px;
                color: #ccc;
            }
            li.active {
                background-color: transparent;
            }
            .toggled {
                background-color: transparent;
            }
            .menu-toggle:after {
                content: '\2013';
                -moz-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            .menu-toggle.toggled:before {
                -moz-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            .menu-toggle.toggled:after {
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            a {
                color: #999;
                position: relative;
                display: inline-flex;
                vertical-align: middle;
                width: 100%;
                padding: 13px;
                font-weight: 400;
                font-size: 15px;
                i {
                color: #999;
                margin-top: 3px;
                width: 20px;
                text-align: center;
                }
                span {
                    margin: 0;
                    font-weight: 400;
                    overflow: hidden;
                    padding-left: 15px;
                }
            }
            .ml-menu {
                background-color: transparent;
                list-style: none;
                display: none;
                padding-left: 0;
                li{
                    a {
                        padding-left: 48px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                    }
                    // a:before {
                    //     content: '\f2fb';
                    //     position: absolute;
                    //     left: 21px;
                    //     font-size: 16px;
                    //     font-family: 'Material-Design-Iconic-Font';
                    //     color: #999;
                    // }
                }
            }
        }
    }
}

a.menu-toggle.waves-effect.waves-block.router-link-active {
    color: #479da7 !important;
    box-shadow: 0px 0px 10px -3px #479da7;
}

.mini-profile{
    border-radius: 100%;
    height: 72px;
    width: 72px;
    background-image: url(https://nationaltoday.com/wp-content/uploads/2019/03/national-doctors-day.jpg);
    background-size: contain;
}

i{
    color: white;
}

.profile-box{
    display: flex;
    flex-direction: column;

}

.profile-info{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color:white;
    font-weight: bold;
    .welcome{
        font-size: 12px;
        font-weight: lighter;
    }
    ul{
        list-style: outside none none;
        //margin: 5px 0 0 -5px;
        padding: 0;
        width: 100%;
    }
    li {
        float: left;
        margin-right: 1px;
        a{
            color: #fff;
            float: left;
            font-size: 12px;
            height: 29px;
            line-height: 29px;
            text-align: center;
            width: 29px;
            i{
                display: inline-block;
                font-size: 18px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
            }
        }
    }
}

.profile-row{
    align-items: center;
    padding: 13px 15px 12px 15px;
    white-space: nowrap;
    position: relative;
    height: 184px;
}


.daily-report{
    margin-left:10px;
}

.report-box{
    padding: 1px;
    div{
        background-color: white;
        height: 100%;
        border-radius: 3px;
        padding: 5px 0px;
        p{
            text-align: center;
            color: var(--secondary);
            font-size: 12px;
            margin: 0px;
            margin-top: -6px;
            i{
                color: #495057;
            }
        }
        h4{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #495057;
            margin: 0px;
            padding-top: 3px;
            font-size: 15px;
            span{
            font-size: 12px;
            color: #495057;
            }
        }
    }
    .tooltip-text{
        display: none; 
        position: absolute;
        bottom: -20px;
        left: 7px;
        z-index: 99;
        border-radius: 0px 5px 5px 5px;
        background: #adb5bd;
        width: auto;
        text-align: center;
        font-size: 12px;
        padding: 0px 5px 0px 5px;
        box-shadow: 1px 1px 4px #00000078;
    }
}

.report-box-div{
    margin:0px;
}

.report-header{
    margin:0px;
    h5{
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: 22px;
    margin: 5px 0;
    width: 100%;
    text-transform: uppercase;
    }
}

.waiting-call:hover + .for-waiting-call { display: block; }
.end-call:hover + .for-end-call { display: block; }
.wallet:hover + .for-wallet { display: block; }
